.container {
    display: block;
    width: 1480px;
    height: 1282px;
       }
.container-small {
    display: block;
    box-sizing: border-box;
    width: 1280px;
    height: 1260px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    }
.logo {
    width: 334px;
    height: 79px;
    margin-left: 0;
    align-items: flex-end;
      }
.link {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 80px;
    line-height: 93.75px;
    text-align:center;
    color: #000000;
    }
.color-text {
    color: #87ceeb;
}
.top-menu-fon {
   display: flex;
    width: 1279px;
    height: 72px;
    font-family: sans-serif;
    font-size: 24px;
    line-height: 27px;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: row;
    background-color: #35444F;
       }
.top-menu-fon-item1 {
    display: flex;
    width: 296px;
    height: 32px;
    border: 0.5px solid white;
    margin-left: 194px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.top-menu-fon-item2 {
    display: flex;
    width: 167px;
    height: 32px;
    border: 0.5px solid white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    }
.top-menu-fon-item2:hover {
    background-color: black;
}

.top-menu-fon-item3 {
    display: flex;
    width: 264px;
    height: 32px;
    border: 0.5px solid white;
    padding-top: 40px;
    padding-bottom: 40px;

}
.top-menu-fon-item4 {
    display: flex;
    width: 245px;
    height: 32px;
    border: 0.5px solid white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 0;

}
.top-menu-img {
    display: flex;
    width: 1280px;
    height: 529px;
    margin-top: 80px;
    flex-direction: row;
    border: 1px slateblue;
}
.top-menu-img-small {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 324px;
    height: 399px;
    margin-top: 0;
    margin-left: 0;
    margin-right: auto;
    border: 1px solid #bdc1c6;;
    font-family: sans-serif;
    font-size: 27px;
    line-height: 27px;

    color: #495863;

}
.top-menu-img-small-item1 {
    padding-left: 44px;
  }
.top-menu-img-small-item2 {
    padding-left: 44px;
}
.top-menu-img-small-item2:hover {
    display: flex;
    width: 324px;
    height: 81px;
    box-sizing: border-box;
    padding-left: 80px;
    align-items: center;
    background-color: #bdc1c6;
    color: #35444F;

}
.top-menu-img-small-item3 {
    padding-left: 44px;
}
.top-menu-img-small-item4 {
    padding-left: 44px;
}
.top-menu-img-small-item5 {
    padding-left: 44px;
}

.top-menu-img-big {
    display: flex;
    flex-direction: column;
    border: 1px solid #bdc1c6;
    /*border-color: rgba(0,0,0,0.0001);*/
    width: 885px;
    height: 529px;
    margin-right: 0;
    margin-left: auto;
    margin-top: 0;
}
.picture {
    display: flex;
    width: 320px;
    height: 381px;
    margin-top: 75px;
    margin-left: 297px;
        }
.text1 {
display: flex;
    width: 885px;
    height: 120px;
    margin-right: 0;
    margin-left: auto;
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;

}
.text2 {
    display: flex;
    font-family: sans-serif;
    width: 885px;
    height: 109px;
    margin-right: 0;
    margin-left: auto;
    margin-top: 80px;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
}
.footer {
    display: flex;
    flex-direction: row;
    width: 1280px;
    height: 69px;
    margin-top: 50px;
    background-color: rgba(99,105,110,0.48);
    }
.footer-container-big {
    display: inline-flex;
    justify-content: space-around;
    width: 928px;
    height: 69px;
    margin-left: 40px;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-container-big-item1 {
    font-family: sans-serif;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;

}
.footer-container-big-item2 {
    font-family: sans-serif;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    }
.footer-container-big-item2:hover {
    color: #87ceeb;
    }
.footer-container-big-item3 {
    font-family: sans-serif;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}
.footer-container-big-item4 {
    font-family: sans-serif;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}
.footer-container-big-item5 {
    font-family: sans-serif;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.footer-container-small {
    display: flex;
    width: 262px;
    height: 69px;
    margin-right: 50px;
    margin-left: auto;
    font-family: sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
    text-decoration-color: #000000;
    padding-top: 20px;
    padding-bottom: 10px;
    justify-content: flex-end;
    }
